body {
  background: #333;
}

canvas {
  width: 100%;
  height: 100%;
}

#currentCard {
  position: absolute;
  display: none;
  height: 450px;
  width: 300px;
  top: calc(50% - 225px);
  left: calc(50% - 150px);
}

.show {
  display: block !important;
}

#player {
  font-size: 48px;
  text-align: center;
  font-weight: bold;
}

#currentCard #card {
  height: 100%;
}

#card .card {
  height: 100%;
  font-size: 3em;
}

.player {
  font-size: 1em;
  text-align: center;
}